{%- include 'LS_83195002989_global' -%}
{{ 'account.scss.css' | asset_url | stylesheet_tag }}
<div class="page-width account-padding">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center"><ls-static-4332759>Reset your password</ls-static-4332759></h1>

            <p class="text-center"><ls-static-2677644>Reset password for</ls-static-2677644> {{ email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword"><ls-static-9340005>Password</ls-static-9340005></label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation"><ls-static-2164054>Confirm Password</ls-static-2164054></label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="&lt;ls-static-2504157&gt;Submit&lt;/ls-static-2504157&gt;">
          <input type='hidden' name='customer[tags]' value='ls~{% if cart.attributes.LS_language %}{{ cart.attributes.LS_language }}{% else %}{{ shop.metafields.langshop['lang_default'] }}{% endif %}ls~'/> 
 {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
