{%- include 'LS_83195002989_global' -%}
{{ 'testimonials.scss.css' | asset_url | stylesheet_tag }}

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="content">
        <h1><span class="bold"><ls-static-2740168>Testimonials</ls-static-2740168></span></h1>
      </div>
    </div>
    <img src="{{ 'testimonials-bg.jpg' | asset_url }}" alt="">
  </section>
  <!-- \Hero -->

  <!-- Video Section -->
  <section class="video-section">
    <div class="container">
      <div class="text">
        <h2><ls-static-3830015>Simple Stories,</ls-static-3830015> <span class="bold"><ls-static-9904802>Big Results</ls-static-9904802></span></h2>
        <p>
          <ls-static-1919301>Finding nutritional options that you can trust for your children is so important. These parents trust Simple Spectrum; find out why:</ls-static-1919301>
        </p>
      </div>

      <!-- Video Slider -->
      <div class="video-slider">
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__3_Year_Old_Son.mp4?v=1594923174" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Aussie_Autism_Family.mp4?v=1594924421" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Day___Night_Difference.mp4?v=1594924475" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__From_Australia.mp4?v=1594924500" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Improvement_in_Expressive_Language.mp4?v=1594924611" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Jacqueline_Laurita_2.mp4?v=1594924635" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Jacqueline_Laurita_2.mp4?v=1594924635" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Jacqueline_Laurita.mp4?v=1594924716" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Review__Mom_of_3.mp4?v=1594924750" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/The_Aspie_World_Review.mp4?v=1594924772" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Wake_Up_For_Autism.mp4?v=1594924809" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Simple_Spectrum_Review__Sunday_Share.mp4?v=1594924900" type="video/mp4" preload="metadata">
          </video>
          <div class="video-screen">
            <img src="{{ 'video.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
      </div>
      <!-- \Video Slider -->
    </div>
  </section>
  <!-- \Video Section -->
  <!-- Loox Testimonials -->
  <div class = "section container">
    <div id="looxReviews" data-loox-aggregate></div>
  </div>
  <!-- \Loox Testimonials -->
  <!-- Testimonials -->
  <div class="section testimonials">
    <div class="container">
      <div class="testimonial blue-color">
        <p>
          <ls-static-7198599>"Super fun beach weekend! Daily (hourly?) meltdowns truly seem a thing of the past. A year ago, a weekend getaway like this - sleeping away from home with tons of changes & transitions - would have been no "day at the beach". The gains this boy has made over the last year are incredible. #nemechekprotocol + @simplespectrumsupplement + #ABAtherapy + all the love and understanding from family, friends & teachers = SUCCESS. The Sky is the limit! (endless thanks to @daniellenmager for introducing us to both Nemechek and Simple Spectrum - both have been game changers for us)"</ls-static-7198599>
        </p>
        <div class="author"><ls-static-5790212>- @our_nemechek_journey_</ls-static-5790212></div>
        <a href=""><ls-static-4533234>From Instagram</ls-static-4533234></a>
      </div>

      <div class="testimonial red-color">
        <p>
          <ls-static-9695527>"We are SO thankful for this supplement. We can see how Evan is more comfortable in his own skin - better able to communicate and happier than ever. (I realize I sound like a walking advertisement, but I'm not affiliated with or sponsored by Simple Spectrum - just one satisfied customer who has been moving mountains for her son since the day of his diagnosis)"</ls-static-9695527>
        </p>
        <div class="author"><ls-static-1616643>- Marianne Keith, parent review</ls-static-1616643></div>
        <a href=""><ls-static-1576471>From Facebook</ls-static-1576471></a>
      </div>

      <div class="testimonial yellow-color">
        <p>
          <ls-static-2646540>""Ok holy smokes!!!! The supplement is amazing!! I can't even begin to say enough about it! Better eye contact, more expressive language. More words altogether...sitting longer to eat...thank you!"</ls-static-2646540>
        </p>
        <div class="author"><ls-static-5920254>- Keri Vellis, parent review</ls-static-5920254></div>
        <a href=""><ls-static-5559536>From Facebook</ls-static-5559536></a>
      </div>

      <div class="testimonial blue-color">
        <p>
          <ls-static-7617123>"My son is 3 and we are still waiting for an official diagnosis, but this has helped him greatly. Most of his speech was echoing and he is now forming original speech more often than echo. His sleep is 100x better and tantrums have declined drastically. I highly recommend trying it! It is also a powder form and has little to no taste or smell. It has been the only supplement he hasn't been able to sniff out."</ls-static-7617123>
        </p>
        <div class="author"><ls-static-9628702>- Claire Fleming, parent review</ls-static-9628702></div>
        <a href=""><ls-static-2576144>From Facebook</ls-static-2576144></a>
      </div>

      <div class="testimonial red-color">
        <p>
          <ls-static-3021561>"There’s no doubt that this supplement has been amazing for Noah! His receptive language, understanding and follow through has drastically improved. He seems to be noticing things around him more. And I’m getting even better eye contact, and for longer periods of time. Along with all these new sounds and words we have been hearing lately!!!! Noah has been doing fantastic!!"</ls-static-3021561>
        </p>
        <div class="author"><ls-static-9378612>- Danielle Mager,</ls-static-9378612></div>
        <a href=""><ls-static-9079109>Parent Review</ls-static-9079109></a>
      </div>
      
      <div class="testimonial yellow-color">
        <p>
          <ls-static-4435933>"This product is AMAZING!!!.. We had a rocky start but after sending the company a message we got on the right path(Customer service was super fast at answering my message) Since starting the supplement I have notice my son engaging with peers more and just being present. The best part is that he has no idea he is getting all these amazing things in in his little body. My family is very happy and can’t wait for the future."</ls-static-4435933>
        </p>
        <div class="author"><ls-static-5937864>-Claudia,</ls-static-5937864></div>
        <a href=""><ls-static-5274707>Parent Review</ls-static-5274707></a>
      </div>
      
      <div class="testimonial blue-color">
        <p>
          <ls-static-6078257>"This product is AMAZING! first off it is like everything you want and need for any child but ontop of that it also has vitamins and minerals specific to help improve mood and behavior which is key for my son. My son has ADHD and Sensory issues and I mix this in his orange juice and within days the melt downs were less frequent and his ability to handle frustration improved so much that I STARTED TO TAKE IT TOO! Yes, it's for adults too and since I've started it, I have greatly reduced my stress and I just feel better, more energy and concentration is better. I highly recommend this for all moms and just anyone looking for something high quality and without the added junk in most gummies and others! It literally is the best of the best!"</ls-static-6078257>
        </p>
        <div class="author"><ls-static-6374701>- Candy,</ls-static-6374701></div>
        <a href=""><ls-static-8841212>Parent Review</ls-static-8841212></a>
      </div>
      <div class="testimonial red-color">
        <p>
          <ls-static-7547692>"I have been a Pediatric Occupational Therapist in Home Health and in Integrated Schools (Pre-K - 12) since 1988, and I just wanted your Team to be encouraged in your Product launch & development. I have also observed 2 of my OT kiddos and 2 other adults experience incredible results with your Supplement. Recently I have started on a Healing Journey in recovering from Complex PTSD; and so I wanted to have first-hand experience with your product before I ordered it for my daughter, who has ADHD. WOW! I am so amazed! Here is a 'Short List' of the life changing results that I have noticed while just starting with half dosing as recommended:</ls-static-7547692><br/><br/><ls-static-4739713>1. High quality and consistent sleep, every night: 7-8 hours instead of barely 3-5 hours!</ls-static-4739713><br/><br/><ls-static-5480963>2. Greatly REDUCED sugar & caffeine cravings!</ls-static-5480963><br/><br/><ls-static-5929989>3. Reduced anxiety in high stress situations.</ls-static-5929989><br/><br/><ls-static-9400358>4. Clarity & Creativity of thought along with very little 'Mind Traffic'.</ls-static-9400358><br/><br/><ls-static-2663750>5. My therapy (OT) documentation, on my laptop, is more accurate & timelier than ever!</ls-static-2663750><br/><br/><ls-static-7670157>6. Unprecedented CALM demeanor in ALL Social Situations that once triggered distress or paralyzed me with Fear, Fight, Flight or Freeze Responses.</ls-static-7670157><br/><br/><ls-static-3230374>7. My comprehension in reading now allows me to read passages well the 1st Time, rather than reread & reread without understanding! My eyes once felt like they were 'vibrating'. That symptom has completely resolved!</ls-static-3230374><br/><br/><ls-static-2568553>8. Auditory sensitivities and visual distractions are no longer creating anxiety in my Daily Life.</ls-static-2568553><br/><br/><ls-static-8589459>9. My stuttered speech and loss of words is resolving as well.</ls-static-8589459><br/><br/><ls-static-9428973>10. My ability to prioritize &complete simple & complex tasks have also improved, greatly!</ls-static-9428973><br/><br/><ls-static-7358765>I could easily go on and on about how I have had such good results with this Supplement! Thank you for your commitment to helping Our Kiddos and also Helping Clinicians in our Personal Testimony, as we often recommend what 'works for us and our own kids'.</ls-static-7358765><br/><br/><ls-static-3122693>Thank YOU!</ls-static-3122693><br/><ls-static-9124501>Thank YOU!</ls-static-9124501><br/><ls-static-7975409>Thank YOU!</ls-static-7975409><br/><ls-static-3699164>I feel like I am finally getting my LIFE BACK!"</ls-static-3699164></p>
        <div class="author"><ls-static-1771041>- Lisa Robinson,</ls-static-1771041></div>
        <a href=""><ls-static-3895663>Parent Review</ls-static-3895663></a>
      </div>
      <div class="testimonial yellow-color">
        <p>
          <ls-static-8258701>"I have been a Pediatric Occupational Therapist in Home Health and in Integrated Schools (Pre-K - 12) since 1988, and I just wanted your Team to be encouraged in your Product launch & development. I have also observed 2 of my OT kiddos and 2 other adults experience incredible results with your Supplement. Recently I have started on a Healing Journey in recovering from Complex PTSD; and so I wanted to have first-hand experience with your product before I ordered it for my daughter, who has ADHD. WOW! I am so amazed! Here is a 'Short List' of the life changing results that I have noticed while just starting with half dosing as recommended:</ls-static-8258701><br/><br/><ls-static-8388165>1. High quality and consistent sleep, every night: 7-8 hours instead of barely 3-5 hours!</ls-static-8388165><br/><br/><ls-static-3524365>2. Greatly REDUCED sugar & caffeine cravings!</ls-static-3524365><br/><br/><ls-static-9834845>3. Reduced anxiety in high stress situations.</ls-static-9834845><br/><br/><ls-static-1409726>4. Clarity & Creativity of thought along with very little 'Mind Traffic'.</ls-static-1409726><br/><br/><ls-static-2902978>5. My therapy (OT) documentation, on my laptop, is more accurate & timelier than ever!</ls-static-2902978><br/><br/><ls-static-8913954>6. Unprecedented CALM demeanor in ALL Social Situations that once triggered distress or paralyzed me with Fear, Fight, Flight or Freeze Responses.</ls-static-8913954><br/><br/><ls-static-4845660>7. My comprehension in reading now allows me to read passages well the 1st Time, rather than reread & reread without understanding! My eyes once felt like they were 'vibrating'. That symptom has completely resolved!</ls-static-4845660><br/><br/><ls-static-7840842>8. Auditory sensitivities and visual distractions are no longer creating anxiety in my Daily Life.</ls-static-7840842><br/><br/><ls-static-4188662>9. My stuttered speech and loss of words is resolving as well.</ls-static-4188662><br/><br/><ls-static-9923918>10. My ability to prioritize &complete simple & complex tasks have also improved, greatly!</ls-static-9923918><br/><br/><ls-static-4215543>I could easily go on and on about how I have had such good results with this Supplement! Thank you for your commitment to helping Our Kiddos and also Helping Clinicians in our Personal Testimony, as we often recommend what 'works for us and our own kids'.</ls-static-4215543><br/><br/><ls-static-3029874>Thank YOU!</ls-static-3029874><br/><ls-static-7471610>Thank YOU!</ls-static-7471610><br/><ls-static-7955257>Thank YOU!</ls-static-7955257><br/><ls-static-7510838>I feel like I am finally getting my LIFE BACK!"</ls-static-7510838>
        </p>
        <div class="author"><ls-static-3401600>- Lisa Robinson,</ls-static-3401600></div>
        <a href=""><ls-static-7355616>Parent Review</ls-static-7355616></a>
      </div>
      <div class="testimonial blue-color">
        <p>
          <ls-static-9174588>"My daughter is 11 years old. started taking this about a month and a half now. it has made a tremendous difference in her recollecting events!! She has never been able to tell us what happened in a day, but she reminded us of an event from a couple weeks ago!!The best feeling in the world!! We also see her anxiety more controlled no biting nails!! One more thing is her Seborrheic dermatitis has almost diminished on her scalp and her ears are a11 but cleared up!!"</ls-static-9174588>
        </p>
        <div class="author"><ls-static-1071758>- Melissa Ruybal Valle,</ls-static-1071758></div>
        <a href=""><ls-static-9585991>Parent Review</ls-static-9585991></a>
      </div>
      <div class="testimonial red-color">
        <p>
          <ls-static-1743142>"My son is on the spectrum along with ADHD, ODD and PTSD, and lets be honest, getting him to eat the foods he needs has always been an issue because of his sensory issues and attention. It’s always a worry for any parent as to whether their children are getting all the vitamins they need let a lone a parent with a child on the spectrum. This product has taken away all my worries and enables me to get piece of mind whilst ensuring my son is getting the nutrients he needs. I have noticed mood changes and increased concentration. If you aren’t getting the nutrients you need, your body and mind aren’t working at full capacity. Imagine that in a child?!? I couldn’t recommend this product enough, it gives me one less thing to worry about and allows us to enjoy our days and focus elsewhere."</ls-static-1743142>
        </p>
        <div class="author"><ls-static-8661217>- Ashley,</ls-static-8661217></div>
        <a href=""><ls-static-9014964>Parent Review</ls-static-9014964></a>
      </div>
      <div class="testimonial yellow-color">
        <p>
          <ls-static-8101907>"They really help with aggression and the missing nutrients our special little girls and guys need. Definitely recommend."</ls-static-8101907>
        </p>
        <div class="author"><ls-static-1783910>- Heather Marie,</ls-static-1783910></div>
        <a href=""><ls-static-8139466>Parent Review</ls-static-8139466></a>
      </div>
      <div class="testimonial blue-color">
        <p>
          <ls-static-6077316>"Since we started my son on Simple Spectrum, he is talking soooooo much to the point that sometimes I miss how quiet my house was lol... he is even singing!!!!! And I started talking to him in Spanish and I can say he is bilingual 👏👏👏👏…his social skills are also getting better, and we are soooo happy.... we are very thankful for products like this!!!!! We are about to increase his dosage a bit, so we are very excited to see all the great changes that are about to happen ☺️...thank you Simple Spectrum Supplement!!!!!!!!!!!</ls-static-6077316>
        </p>
        <div class="author"><ls-static-4483075>- Claudia Lazarte Snyder,</ls-static-4483075></div>
        <a href=""><ls-static-8910508>Parent Review</ls-static-8910508></a>
      </div>
      <div class="testimonial red-color">
        <p>
          <ls-static-8972980>"The difference in my children is like night and day. My son is 2 and 1/2 and my daughter is 8 we went from hourly intense meltdowns that lasted anywhere from 15 minutes to 2 hours and have sometimes lasted up to 4 hours my kids have been on hold for PT and speech for almost a year and have no impulse control, no depth perception or safety awareness they just go a million miles an hour all the time. Yet since being on these vitamins my kids have been calmer and made huge breakthroughs in development and behavior, they concentrate they think things through, and their impulsivity has decreased tremendously! They both have sensitive stomachs an do not keep down any other nutritional supplements. With the Simple Spectrum Supplements, they have not had any issues or gotten sick once! They are hyper sensitive to textures tastes and smells and they do not even notice this in their juice! They’re doing things they’ve never done before and it’s incredible! I can’t wait to see what continued use will help them accomplish and achieve. Their medical teams have all noticed and commented on the vast improvement and will be getting this for their own kids and recommending them to their other patients!!! Texas Medi-Cal even saw such a drastic difference that they wanted to see about funding. We had a hiatus in all therapies for some time and our caseworker came out and couldn’t believe the improvements and it was ALL the supplement."</ls-static-8972980>
        </p>
        <div class="author"><ls-static-2741776>- Jessica Hildebrand (Texas),</ls-static-2741776></div>
        <a href=""><ls-static-7298673>Parent Review</ls-static-7298673></a>
      </div>
      <div class="testimonial yellow-color">
        <p>
          <ls-static-2497346>"I have seen some subtle, positive changes in my child being calmer, more verbal and engaging in imaginative play. I would love to continue using the product and I am so much looking forward to it being available again."</ls-static-2497346>
        </p>
        <div class="author"><ls-static-2576622>- Suzette,</ls-static-2576622></div>
        <a href=""><ls-static-7708400>Parent Review</ls-static-7708400></a>
      </div>
      <div class="testimonial blue-color">
        <p>
          <ls-static-4400324>"I have a son with autism. He is 7 years old, and we have struggled with behaviors and him being nonverbal it's even harder. A friend had told me to try this supplement and told me about it and as soon as I started my son on it, I have seen improvements right away. He's happier and less behaviors. I am super excited and will continue to give this to my son and refer to my friends with their kiddos on the spectrum!"</ls-static-4400324>
        </p>
        <div class="author"><ls-static-1490576>- Leianna Lucille Sanchez, parent review</ls-static-1490576></div>
        <a href=""><ls-static-2554061>From Facebook</ls-static-2554061></a>
      </div>
      <div class="testimonial red-color">
        <p>
          <ls-static-2241167>"I am so happy I found this product. It is incredible! In the past, I have had to give all these ingredients in separate tablets and liquids to my son, an 11-year-old boy, who is on the autism spectrum. Now I can find them all in one product! That is just amazing! And not only that, but it also has prebiotics, which is great! I have seen great improvement, in my same especially in his expressive language and his independent play. I cannot even find words to recommend this product is amazing!"</ls-static-2241167>
        </p>
        <div class="author"><ls-static-4679239>- Susanna Salem,</ls-static-4679239></div>
        <a href=""><ls-static-2477979>Parent Review</ls-static-2477979></a>
      </div>
    </div>

    <button class="btn blue-btn" style="display: none;"><ls-static-5456711>load more</ls-static-5456711></button>
  </div>
  <!-- \Testimonials -->

  <!-- Subscribe -->
  <section class="subscribe">
    <div class="container">
      <h2><ls-static-6709114>Subscribe to the</ls-static-6709114> <span class="bold"><ls-static-8949590>Simple Digest</ls-static-8949590></span></h2>
      <p>
        <ls-static-3411968>We’ll send you tips and resources as well as sales and promotions!</ls-static-3411968>
      </p>
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form--success">{% include 'LS_83195002989_locales', LS_locales_item: 'general.newsletter_form.confirmation',   %}{% if LS_83195002989_locales_value == blank %}{{ 'general.newsletter_form.confirmation' | t }}{% else %}{{ LS_83195002989_locales_value  }}{% endif %}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="contact[email]" placeholder="&lt;ls-static-7182786&gt;Enter your email address&lt;/ls-static-7182786&gt;">
        <button type="submit" class="btn blue-btn"><ls-static-4219952>sign me up</ls-static-4219952></button>
      {% endif %}
      {% endform %}
    </div>
  </section>
<!-- \Subscribe -->

{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'masonry.min.js' | asset_url | script_tag }}
{{ 'testimonials.js' | asset_url | script_tag }}