{%- include 'LS_83195002989_global' -%}
{{ 'formula.scss.css' | asset_url | stylesheet_tag }}

  <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <div class="content">
        <h1><ls-static-6112964>Our</ls-static-6112964> <span class="bold"><ls-static-2344907>Formula</ls-static-2344907></span></h1>
      </div>
    </div>
    <img src="{{ 'formula-bg.jpg' | asset_url }}" alt="">
  </section>
  <!-- \Hero Section -->

  <!-- Text Section -->
  <section class='text-section'>
    <div class="container">
      <h2><ls-static-2159324>Why Simple Spectrum</ls-static-2159324></h2>
      <p>
        <span class="bold"><ls-static-7620102>Studies show that the developing brains of children have specific nutritional needs, which is why we designed Simple Spectrum.</ls-static-7620102></span> <ls-static-3677890>We know that it's difficult to encourage healthy food choices in kids, so we decided to fill in the vitamin and mineral gaps to give you peace of mind; you can rest assured your child is getting the important nutrition for brain health, even if they forget to eat their veggies today.</ls-static-3677890>
      </p>
      <p>
        <ls-static-5462541>Simple Spectrum is designed to help your child grow and play in their healthiest way. We want to help kids be the best version of themselves. We also want the best for your family and know that some children are sensitive to additives, so we made our formula extra gentle and to exacting quality standards.</ls-static-5462541>
      </p>
    </div>
  </section>
  <!-- \Text Section -->

  <!-- Benefits -->
  <section class="benefits-section">
    <div class="container">
      <h2><ls-static-3194785>Benefits</ls-static-3194785></h2>
      <div class="benefits">
        <div class="benefit">
          <ls-static-2813707>Supports  mitochondrial health and energy production for blood health</ls-static-2813707>
        </div>
        <div class="benefit">
          <ls-static-4079101>Dietary intake of nutrients needed for neurological development and function</ls-static-4079101>
        </div>
        <div class="benefit">
          <ls-static-1830565>We only use compounds in their bioavailable forms</ls-static-1830565>
        </div>
        <div class="benefit">
          <ls-static-6756840>Safe for diets limiting gastrointestinal irritation</ls-static-6756840>
        </div>
        <div class="benefit">
          <ls-static-4903222>Supports enhanced neurological function in children</ls-static-4903222>
        </div>
      </div>
    </div>
  </section>
  <!-- \Benefits -->

  <!-- What's inside -->
  <section class="what-is-inside">
    <div class="container">
      <h2><ls-static-1537696>What’s Inside Our Formula</ls-static-1537696></h2>
      <p>
        <ls-static-3022823>The brain and nervous system are constantly developing in children, so we made sure  Simple Spectrum contains the top research-backed nutrients to support the healthy growth of brain cells. Most children's multivitamins do not have the exclusive mind support ingredients we have selectively chosen for our formula, such as:</ls-static-3022823>
      </p>

      <div class="slider-inside">
        <div class="slide yellow-border">
          <h4><ls-static-9121683>Acetyl-l-carnitine</ls-static-9121683></h4>
          <p>
            <ls-static-6926738>Drives healthy fats to high-need brain cells.</ls-static-6926738><br><br><br>
          </p>
        </div>
        <div class="slide blue-border">
          <h4><ls-static-4130164>Choline</ls-static-4130164></h4>
          <p>
            <ls-static-7338442>Boosts brain chemicals that form thoughts and memories.</ls-static-7338442><br><br><br>
          </p>
        </div>
        <div class="slide red-border">
          <h4><ls-static-5311027>Coenzyme Q10</ls-static-5311027></h4>
          <p>
            <ls-static-7202682>Supports an antioxidant that amps up brain energy production and promotes calm behavior.</ls-static-7202682>
          </p>
        </div>
        <div class="slide yellow-border">
          <h4><ls-static-3963016>Inositol</ls-static-3963016></h4>
          <p>
            <ls-static-6657407>Supports mood via serotonin, our happy brain hormone.</ls-static-6657407><br><br><br>
          </p>
        </div>
        <div class="slide blue-border">
          <h4><ls-static-9904948>MSM</ls-static-9904948></h4>
          <p>
            <ls-static-6898178>Helps the body clear waste products and aid its natural inflammation support systems.</ls-static-6898178>
          </p>
        </div>
        <div class="slide red-border">
          <h4><ls-static-9707661>MTHF</ls-static-9707661></h4>
          <p>
            <ls-static-6499958>Promotes healthy DNA and nervous system development.</ls-static-6499958><br><br><br>
          </p>
        </div>
        <div class="slide yellow-border">
          <h4><ls-static-9881846>NAC</ls-static-9881846></h4>
          <p>
            <ls-static-2484983>Boosts antioxidant levels to keep nervous system running smoothly.</ls-static-2484983><br><br>
          </p>
        </div>
        <div class="slide blue-border">
          <h4><ls-static-9873611>Larch Arabinogalactan</ls-static-9873611></h4>
          <p>
            <ls-static-9476068>(Prebiotic) Supports healthy gut bacteria.</ls-static-9476068><br><br><br>
          </p>
        </div>
        <div class="slide red-border">
          <h4><ls-static-2908801>Bioperine</ls-static-2908801></h4>
          <p>
            <ls-static-5986576>Aides absorption.</ls-static-5986576><br><br><br><br>
          </p>
        </div>
        <div class="slide yellow-border">
          <h4><ls-static-1820975>HydroCurc</ls-static-1820975></h4>
          <p>
            <ls-static-4068125>(Turmeric/Curcumin) Supports proper inflammatory response.</ls-static-4068125><br><br>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- \What's inside -->

  <!-- Free from  -->
  <section class="free-from">
    <div class="container">
      <h2><ls-static-3606679>Simple Spectrum Nutritional Supplement is</ls-static-3606679> <span class="bold"><ls-static-4498866>Always Free From</ls-static-4498866></span></h2>
      <ul>
        <li><ls-static-8530667>Gluten</ls-static-8530667></li>
        <li><ls-static-5801464>GMOs</ls-static-5801464></li>
        <li><ls-static-6312573>Soy</ls-static-6312573></li>
        <li><ls-static-2609769>Added Sugar</ls-static-2609769></li>
        <li><ls-static-6632030>Artificial Ingredients</ls-static-6632030></li>
        <li><ls-static-3069413>Casein</ls-static-3069413></li>
        <li><ls-static-6512991>Nuts</ls-static-6512991></li>
        <li><ls-static-7169726>Dairy</ls-static-7169726></li>
        <li><ls-static-5092237>Preservatives</ls-static-5092237></li>
        <li><ls-static-5634674>Artificial Flavor</ls-static-5634674></li>
      </ul>
    </div>
  </section>
  <!-- \Free from  -->

  <!-- Testimonials Section -->
  <section class="testimonials">
    <div class="container">
      <h2><ls-static-4096465>From Our Doctor,</ls-static-4096465> <span class="bold"><ls-static-8222401>Dr. Kristen Shay</ls-static-8222401></span></h2>
      <p>
        <ls-static-2973117>Dr. Shay is an unbelievably passionate healthcare  professional & educator. She has an altruistic interest in uncovering nutrient deficiencies, then identifying natural ingredients to improve an individual’s quality of life.</ls-static-2973117>
      </p>

      <!-- Video Slider -->
      <div class="video-slider">
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Importance_of_3rd_party_testing.mp4?v=1594926433" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Why_Do_We_Need_B12.mp4?v=1594926451" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Why_do_we_need_magnesium.mp4?v=1594926456" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Why_We_Include_Hydrocurc_Curcumin.mp4?v=1594926463" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Benefits_of_Potassium.mp4?v=1594926474" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/How_prebiotics_help_our_immunity.mp4?v=1594926484" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Iodine___Immunity.mp4?v=1594926494" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/NAC_How_it_Helps_your_body_and_behaviors.mp4?v=1594926499" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Vitamin_B1_and_how_it_helps_you.mp4?v=1594926506" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Vitamin_C_and_How_it_helps_our_body.mp4?v=1594926514" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Vitamin_D3_and_How_it_helps_immunity.mp4?v=1594926518" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Vitamin_K_and_what_it_does.mp4?v=1594926524" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/What_does_bioavailable_mean.mp4?v=1594926532" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/What_is_curcumin_and_why_we_need_it.mp4?v=1594926545" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/What_is_Methylation.mp4?v=1594926550" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/What_vitamins_aid_in_natural_detoxification.mp4?v=1594926557" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
        <div class="video">
          <video controls>
            <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Zinc_Immunity_Benefits.mp4?v=1594926562" type="video/mp4">
          </video>
          <div class="video-screen">
            <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
          </div>
          <div class="play-btn"></div>
        </div>
      </div>

      <a href="https://simplespectrumsupplement.com/products/simple-spectrum-nutritional-support-supplement"><button class="btn yellow-btn"><ls-static-8407492>shop now</ls-static-8407492></button></a>
    </div>
    <!-- \Video Slider -->
  </section>

  <!-- Subscribe -->
  <section class="subscribe">
    <div class="container">
      <h2><ls-static-5425083>Subscribe to the</ls-static-5425083> <span class="bold"><ls-static-5936134>Simple Digest</ls-static-5936134></span></h2>
      <p>
        <ls-static-5064899>We’ll send you tips and resources as well as sales and promotions!</ls-static-5064899>
      </p>
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form--success">{% include 'LS_83195002989_locales', LS_locales_item: 'general.newsletter_form.confirmation',   %}{% if LS_83195002989_locales_value == blank %}{{ 'general.newsletter_form.confirmation' | t }}{% else %}{{ LS_83195002989_locales_value  }}{% endif %}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="contact[email]" placeholder="&lt;ls-static-1423818&gt;Enter your email address&lt;/ls-static-1423818&gt;">
        <button type="submit" class="btn blue-btn"><ls-static-5330031>sign me up</ls-static-5330031></button>
      {% endif %}
      {% endform %}
    </div>
  </section>
<!-- \Subscribe -->

{{ 'formula.js' | asset_url | script_tag }}