{%- include 'LS_83195002989_global' -%}
{{ 'story.scss.css' | asset_url | stylesheet_tag }}

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div class="content">
        <h1><ls-static-4277392>The</ls-static-4277392> <span class="bold"><ls-static-8501705>Simple Story</ls-static-8501705></span></h1>
      </div>
    </div>
    <img src="{{ 'story-bg.jpg' | asset_url }}" alt="">
  </section>
  <!-- \Hero -->

  <!-- Goals -->
  <section class="goals">
    <div class="container">
      <h2><ls-static-2020239>Our Goals: Change the Supplement World For the Better & Change the Standards</ls-static-2020239></h2>

      <div class="goal">
        <img src="{{ 'goal-1.png' | asset_url }}" alt="">
        <p>
          <ls-static-7345625>One thing that is very important to us is</ls-static-7345625> <span class="bold"><ls-static-4841797>third-party testing,</ls-static-4841797></span> <ls-static-3732928>which means an independent organization has reviewed the product and determined that it complies with standards for safety and quality. When a product is third-party tested, you can trust the ingredients and intended outcomes. Unfortunately in the supplement world this is not the norm.</ls-static-3732928>
        </p>
      </div>
      <div class="goal">
        <img src="{{ 'goal-2.png' | asset_url }}" alt="">
        <p>
          <ls-static-6169949>We want people to start</ls-static-6169949> <span class="bold"><ls-static-1208523>looking more closely at nutrition and nutrient deficits.</ls-static-1208523></span> <ls-static-4175706>We offer resources, such as our website and Facebook community for people to learn more about the nutritional needs of the developing brain.</ls-static-4175706>
        </p>
      </div>
      <div class="goal">
        <img src="{{ 'goal-3.png' | asset_url }}" alt="">
        <p>
          <ls-static-3121992>We are passionate about</ls-static-3121992> <span class="bold"><ls-static-9033137>helping families and have also successfully got insurance to fund</ls-static-9033137></span> <ls-static-1921315>for our product in multiple cases and look forward to seeing that number rise. One of the founders was very involved in getting insurance to pay for applied behavior analysis well before SB946 passed and is using those same techniques for funding!</ls-static-1921315>
        </p>
      </div>
    </div>
  </section>
  <!-- \Goals -->

  <!-- Out Mission -->
  <section class="our-mission">
    <div class="container">
      <h2><ls-static-8724907>Our Mission &</ls-static-8724907> <span class="bold"><ls-static-8079129>Message</ls-static-8079129></span></h2>
      <p>
        <ls-static-2874795>Our mission was to create the kind of nutraceutical supplement we wanted to see available, based on the latest scientific research and free from the extraneous additives packed into so many similar products on the market. As a parent of one child with sensory processing disorders and another with ketotic hypoglycemia, responsible for implementing food programs her self Heather knows how hard it can be to get kids to eat the right foods and that  includes her own.</ls-static-2874795>
      </p>
      <p>
        <ls-static-7251661>Simple Spectrum was designed with our kids with sensory needs in mind and is an unflavored  dissolvable powder without gluten, casein, added sugar, soy, binding agents, artificial colors, preservatives, GMOs and dairy. The highest quality vitamins, minerals, and other nutrients in the most bioavailable forms -</ls-static-7251661> <span class="bold"><ls-static-6324642>It really is quite simple.</ls-static-6324642></span>
      </p>

      <div class="video">
        <video controls>
          <source src="https://cdn.shopify.com/s/files/1/0036/1820/9901/files/Our_Mission.mp4?v=1594926040" type="video/mp4">
        </video>
        <div class="video-screen" style="display: none;">
          <img src="{{ 'video-screen-2.jpg' | asset_url }}" alt="">
        </div>
        <div class="play-btn"></div>
        <div class="video-title">
          <ls-static-2190587>Hear From Our Co-Founder, Heather!</ls-static-2190587>
        </div>
      </div>
    </div>
  </section>
  <!-- \Out Mission -->

  <!-- How Started -->
  <section class="how-started">
    <div class="container">
      <h2><ls-static-8898566>How We Got</ls-static-8898566> <span class="bold"><ls-static-4337932>Started</ls-static-4337932></span></h2>
      <p>
        <ls-static-8579089>The Simple Spectrum team is comprised of a biomedical doctor, a behavioral therapist and an influential, passionate mom. Most importantly, we’re people who care about kids & overall wellness.</ls-static-8579089>
      </p>
      <p class="small-font">
        <ls-static-2489985>Owning an ABA company and working with MAPS doctors, Heather saw the benefits of high-end supplement firsthand. Simple Spectrum is similar to a nutraceutical a doctor might prescribe, but at a much more affordable price, without the long drives and even longer waits. In the past, this supplement was sold to clinicians/ DAN doctors and MAPS doctors but now we are trying to go straight to families to make it more affordable to them.</ls-static-2489985>
      </p>
    </div>
  </section>
  <!-- \How Started -->

  <!-- Out People -->
  <section class="our-people">
    <div class="container">
      <h2><ls-static-1910441>Meet</ls-static-1910441> <span class="bold"><ls-static-5322842>Our Team</ls-static-5322842></span></h2>

      <div class="persons">
        <div class="person red-color">
          <img src="{{ 'person-1.jpg' | asset_url }}" alt="">
          <div class="person-info">
            <h3><ls-static-7569860>Dr. Kristin Shay, Co&#8209;founder</ls-static-7569860></h3>
            <div class="text">
              <p>
                <ls-static-8186868>Dr. Kristin Shay, DC, MS Functional Medicine, is an experienced healthcare professional and educator who carries a deeply personal passion for functional medicine and the latest developments in the science behind “nutraceuticals” – dietary supplements demonstrated to have physiological benefits. Dr. Shay holds a Doctor of Chiropractic from Southern California University of Health Sciences; a Masters of Science in Clinical Physiology, anda Bachelors of Science in Kinesiology.</ls-static-8186868>
              </p>
              <p>
                <ls-static-9374137>As an educator, she has instructed college aged students on a wide array of subjects, including nutrition, anatomy, embryology, and overall health/fitness. Dr. Shay is a licensed Clinical Exercise Specialist with the American College of Sports Medicine. Over the course of her career, she earned professional licensure with the American Heart Association and memberships with a number of esteemed professional organizations, including the International Chiropractic Pediatric Association and the American Pregnancy Association. Dr. Shay’s interest in identifying nutrient deficits and dietary supplementation began with her own personal wellness, inevitably extending outward to friends, family, and clients.</ls-static-9374137>
              </p>
            </div>
            <a href="#" class="more"><ls-static-5679403>keep reading</ls-static-5679403></a>
          </div>
        </div>

        <div class="person blue-color">
          <img src="{{ 'person-2.jpg' | asset_url }}" alt="">
          <div class="person-info">
            <h3><ls-static-3793710>Jacqueline Laurita, Co&#8209;owner, Ambassador</ls-static-3793710></h3>
            <div class="text">
              <p>
                <ls-static-1007839>Jacqueline began taking courses at The Institute of Integrative Nutrition and becoming a special needs health coach to help families like her own, starting a specialized diet and helped them create a toxic-free household to give their children the best opportunity to thrive in their therapies, in their home and in life in general! Her son, Nicholas, was diagnosed with autism. Jacqueline tried Simple Spectrum on her own son and saw a real difference and knew she needed to get involved.</ls-static-1007839>
              </p>
              <p>
                <ls-static-5825169>Nutrition is one of her passions and this was the perfect spot for her to be in. She has a similar mission to ours, and thatis getting our kids the best possible nutrition.</ls-static-5825169>
              </p>
            </div>
            <a href="#" class="more"><ls-static-7071102>keep reading</ls-static-7071102></a>
          </div>
        </div>

        <div class="person yellow-color">
          <img src="{{ 'person-3.jpg' | asset_url }}" alt="">
          <div class="person-info">
            <h3><ls-static-8509545>Heather Grimaldi, Co&#8209;founder</ls-static-8509545></h3>
            <div class="text">
              <p>
                <ls-static-6845408>Heather Grimaldi, MS is the Founder of Proof Positive ABA Therapies, an organization of highly-trained and compassionate specialists who provide treatment based on the principles of Applied Behavior Analysis, the most widely researched and scientifically validated method known for treating Autism. Armed with empathy, driven by her passionfor helping families, and anchored by her own experience as a devoted mother, Heatherbuilt Proof Positive ABA Therapies into one of the largest and most respected institutions of its kind.</ls-static-6845408>
              </p>
              <p>
                <ls-static-4416728>As a behavior analyst and Clinical Director, Heather’s focus was on supporting families and team members tasked with implementing behavior-analytic interventions. Proof Positive ABA Therapies developed individualized treatment plans designed specifically to teach self-help and social skills with a family-focused approach and an emphasis on parent education, distinguishing themselves as trusted and hands-on care providers. In late 2016, the long-running Autism Learning Partners created one of the largest Autism therapy platforms in the U.S. with its acquisition of Proof Positive.</ls-static-4416728>
              </p>
            </div>
            <a href="#" class="more"><ls-static-3351343>keep reading</ls-static-3351343></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- \Out People -->

  <!-- Popup -->
  <div class="popup-bg">
    <div class="popup person">
      <div class="close"></div>
      <img src="" alt="">
      <div class="person-info">
        <h3></h3>
        <div class="text"></div>
      </div>
    </div>
  </div>
  <!-- \Popup -->

  <!-- Subscribe -->
  <section class="subscribe">
    <div class="container">
      <h2><ls-static-9578337>Subscribe to the</ls-static-9578337> <span class="bold"><ls-static-9586677>Simple Digest</ls-static-9586677></span></h2>
      <p>
        <ls-static-3559866>We’ll send you tips and resources as well as sales and promotions!</ls-static-3559866>
      </p>
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form--success">{% include 'LS_83195002989_locales', LS_locales_item: 'general.newsletter_form.confirmation',   %}{% if LS_83195002989_locales_value == blank %}{{ 'general.newsletter_form.confirmation' | t }}{% else %}{{ LS_83195002989_locales_value  }}{% endif %}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="contact[email]" placeholder="&lt;ls-static-1145765&gt;Enter your email address&lt;/ls-static-1145765&gt;">
        <button type="submit" class="btn blue-btn"><ls-static-3754043>sign me up</ls-static-3754043></button>
      {% endif %}
      {% endform %}
    </div>
  </section>
<!-- \Subscribe -->

{{ 'story.js' | asset_url | script_tag }}